/* ProductsPage.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.add-product-btn {
  display: block;
  width: 150px;
  padding: 10px 20px;
  background-color: #4a613b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto; /* Align to the right */
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.add-product-btn:hover,
.add-product-btn:focus {
  background-color: #688059;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr; /* On small screens, use 1 column layout */
  }
}

.product-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-item-link {
  text-decoration: none; /* Removes the underline text effect from links */
  color: inherit; /* Inherits the text color from parent */
  /* Add other styles from .product-details-link here if necessary */
}

.product-item:hover,
.product-item:focus {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product-title {
  font-size: 18px;
  margin: 0 0 10px;
  color: #333;
  text-align: center;
}

.product-price {
  color: #666;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.product-details-link {
  text-decoration: none;
  color: #337ab7;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.products-layout {
  display: flex;
}

.products-list {
  margin-left: 200px; /* Adjust to the width of the sidebar */
  /* ... Rest of your styles ... */
}
